# Code Examples

In [45]:
from xgboost import XGBClassifier
# read data
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
data = load_breast_cancer(as_frame=True)

# data = 
X_train, X_test, y_train, y_test = train_test_split(data['data'], data['target'], test_size=.2)

cols = ['mean radius', 'mean texture']

X_train = X_train[cols]
X_test = X_test[cols]
# create model instance
bst = XGBClassifier(n_estimators=2, max_depth=2, learning_rate=1, objective='binary:logistic')
# fit model
bst.fit(X_train, y_train)
# # make predictions
# preds = bst.predict(X_test)

[09:10:30] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/efs/hguo/miniconda3/envs/oso_ranking/lib/python3.8/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/efs/hguo/miniconda3/envs/oso_ranking/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=1, max_delta_step=0,
              max_depth=2, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=2, n_jobs=48,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [46]:
X_train.head()

     mean radius  mean texture
285        12.58         18.40
25         17.14         16.40
380        11.27         12.96
310        11.70         19.11
72         17.20         24.52

## Trees to dataframe

In [69]:
bst.get_booster().trees_to_dataframe()

,Tree,Node,ID,Feature,Split,Yes,No,Missing,Gain,Cover,Category
0,0,0,0-0,mean radius,15.020001,0-1,0-2,0-1,232.199387,113.750000,NaN
1,0,1,0-1,mean texture,20.084999,0-3,0-4,0-3,23.570419,80.250000,NaN
2,0,2,0-2,mean texture,16.395000,0-5,0-6,0-5,11.402634,33.500000,NaN
3,0,3,0-3,Leaf,NaN,NaN,NaN,NaN,1.792208,56.750000,NaN
4,0,4,0-4,Leaf,NaN,NaN,NaN,NaN,0.571429,23.500000,NaN
5,0,5,0-5,Leaf,NaN,NaN,NaN,NaN,-0.095238,4.250000,NaN
6,0,6,0-6,Leaf,NaN,NaN,NaN,NaN,-1.867769,29.250000,NaN
7,1,0,1-0,mean radius,13.165000,1-1,1-2,1-1,36.526970,67.268829,NaN
8,1,1,1-1,mean radius,12.325001,1-3,1-4,1-3,2.496651,31.866854,NaN
9,1,2,1-2,mean texture,16.889999,1-5,1-6,1-5,11.051190,35.401974,NaN
10,1,3,1-3,Leaf,NaN,NaN,NaN,NaN,1.077258,22.912781,NaN
11,1,4,1-4,Leaf,NaN,NaN,NaN,NaN,0.393308,8.954073,NaN
12,1,5,1-5,Leaf,NaN,NaN,NaN,NaN,0.382404,8.878925,NaN
13,1,6,1-6,Leaf,NaN,NaN,NaN,NaN,-0.866973,26.523048,NaN

In [49]:
bst.get_booster().dump_model("out.txt")

In [50]:
# dir(bst.get_booster())

In [52]:
sample = X_test.sample()

In [53]:
sample

     mean radius  mean texture
274        17.93         24.48

In [54]:
bst.predict_proba(sample)

/efs/hguo/miniconda3/envs/oso_ranking/lib/python3.8/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

array([[0.9390458, 0.0609542]], dtype=float32)

In [64]:
x = 3-0.866972804

In [65]:
x

2.133027196

In [66]:
import numpy as np

In [67]:
def sig(x):
    return 1/(1 + np.exp(-x))

In [68]:
sig(x)

0.8940720478455401

In [12]:
X_train.shape

(455, 30)

In [15]:
# y_train

In [17]:
# y_train

# Ref

1. [Extract weights from XGBoost](https://stackoverflow.com/questions/37213270/weight-calculation-of-individual-tree-in-xgboost-when-using-binarylogistic)