# Module

In [1]:
import pandas as pd

# Data

In [2]:
url = (
    "https://raw.github.com/pandas-dev"
    "/pandas/master/pandas/tests/io/data/csv/tips.csv"
)


tips = pd.read_csv(url)

In [3]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## SQL to pands

### Top 3 tips for day

sort_values + groupby

In [9]:
(
    tips.assign(num=tips.sort_values('tip', ascending=False).groupby('day').cumcount(1)+1)
    .query('num<3')[['day', 'tip']]
    .sort_values(['day', 'tip'], ascending=[False, False])
)

      day    tip
141  Thur   6.70
88   Thur   5.85
183   Sun   6.50
47    Sun   6.00
170   Sat  10.00
212   Sat   9.00
95    Fri   4.73
93    Fri   4.30

rank